/* src/styles/BookCardButtons.css */

/* Button Group */
.button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: var(--spacing-small);
    position: relative; /* Enable positioning for child dropdown */
}
  
  /* Button Styles */
  .add-to-shelf-btn,
  .dropdown-btn {
    font-size: var(--font-size-medium);
    cursor: pointer;
    transition: background-color 0.3s ease;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
  }
  
  .add-to-shelf-btn {
    flex-grow: 1;
    background-color: var(--primary-button-bg);
    color: var(--secondary-text-color);
    border-radius: 5px 0 0 5px;
  }
  
  .add-to-shelf-btn:hover {
    background-color: var(--primary-button-hover-bg);
  }
  
  /* Dropdown Button */
  .dropdown-btn {
    flex-shrink: 0; 
    width: auto;
    background-color: var(--secondary-button-bg);
    color: var(--secondary-text-color);
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Disabled Buttons */
  .disabled-btn,
  .dropdown-disabled-btn {
    background-color: var(--disabled-button-bg);
    border: 1px solid var(--disabled-button-bg);
    cursor: not-allowed;
  }
  
  .disabled-btn:hover,
  .dropdown-disabled-btn:hover {
    background-color: var(--disabled-button-bg);
  }

  .dropdown-disabled-btn {
    font-size: var(--font-size-small);
  }
  
  /* Dropdown */
  .dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%; /* Position directly below the button group */
    left: 0;   /* Align with the left edge of the button group */
    background-color: var(--primary-button-bg);
    border-radius: 0 0 5px 5px;
    width: calc(100%); /* Match parent button group's width */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
    }
  
  .dropdown-menu-button {
    background-color: var(--primary-button-bg);
    color: var(--secondary-text-color);
    border: none;
    font-size: var(--font-size-small);
    text-align: center;
    padding: var(--spacing-small) var(--spacing-small);
    cursor: pointer;
  }
  
  .dropdown-menu-button:hover {
    background-color: var(--primary-button-hover-bg);
  }
  
  /* Utilities */
  .hidden {
    display: none;
  }
  
  /* Responsiveness */
  @media (max-width: 768px) {
    .button-group {
      flex-wrap: nowrap; /* Ensure buttons stay in one row */
    }
  
    .add-to-shelf-btn,
    .dropdown-btn {
      width: auto; /* Allow natural sizing */
      margin: 0; /* Remove extra spacing */
      flex-grow: 1; /* Buttons resize proportionally */
    }
  
    .dropdown-btn {
      flex-grow: 0; /* Keep dropdown minimal width */
      flex-shrink: 0; /* Prevent it from shrinking */
    }

    .dropdown {
        width: 100%; /* Fit dropdown to parent width */
        left: 0;     /* Align properly on small screens */
    }
  }
  