/* src/App.css */


/* ================= Form Styling (Used on Login/Register) ================= */
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.form-input {
  padding: 10px;
  font-size: 1.1rem;
  border: 1px solid var(--primary-button-bg);
  border-radius: 5px;
  width: 250px;
}

.form-input:focus {
  outline: none;
  border-color: var(--primary-button-hover-bg);
}

.form-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
}

.back-btn {
  background-color: transparent;
  color: var(--primary-button-bg);
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.back-btn:hover {
  color: var(--primary-button-hover-bg);
  text-decoration: underline;
}

.form-switch-text {
  color: #fff;
  margin-top: 10px;
  font-size: 0.9rem;
  text-align: center;
}

.form-switch-text span {
  color: var(--primary-button-bg);
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.form-switch-text span:hover {
  color: var(--primary-button-hover-bg);
  text-decoration: underline;
}

/* ================= Page Specific Styling ================= */
.logged-out-homepage,
.profile-page,
.explore-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.my-library-page {
  display: flex;
  flex-direction: column;  /* Stack search bar on top of the book list */
  padding: 20px;
}

.logged-out-homepage {
  height: 100vh;
  background-color: var(--header-bg-color);
  color: white;
  text-align: center;
  justify-content: center; /* Center items vertically */
}

.auth-buttons {
  display: flex;
  gap: 5px; /* Add space between the buttons */
}

/* ================= Empty Shelf and Library Header Styling ================= */
.empty-shelf,
.library-header {
  text-align: center;
}

/* ================= Dashboard Styling ================= */
.dashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  background-color: #001f3d;
  color: #fff9f3;
  padding: 20px 60px 40px 40px;
  margin-right: 20px;
  width: 100%;
  max-width: 250px; /* Adjusted max-width as needed */
  position: sticky; /* Make the dashboard sticky */
  top: 0; /* Start sticking from the top */
  height: calc(100vh - 75px); /* Adjust this based on your header height */
}

.profile-picture {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically (if needed) */
  width: 100%; /* Ensures it takes up the full width of the parent */
  margin-bottom: 10px;
}

.profile-picture img {
  width: 50%;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 3px solid #F8DCBF;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.dashboard-header h2 {
  color: #f8dcbf;
  margin: 0;
  text-align: left; /* Align header text to the left */
  font-size: 24px;
}

.dashboard-stats, .dashboard-info {
  margin-top: 10px;
  font-size: 16px;
  text-align: left; /* Left align stats and info */
}

.currently-reading-section-small {
  margin-top: 20px;
  width: 100%;
}

.currently-reading-section-small h3 {
  font-size: 1.4rem;
  margin-bottom: 15px;
  text-align: left;
  color: var(--header-text-color-light);
}

.currently-reading-books-small {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.currently-reading-card-small {
  display: flex;
  align-items: center;
  background-color: var(--primary-button-hover-bg);
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.currently-reading-card-small:hover {
  transform: scale(1.02);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.book-thumbnail-small {
  width: 60px;
  height: 90px;
  margin-right: 15px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.book-info-small {
  display: flex;
  flex-direction: column;
}

.book-title-small {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
  color: var(--header-text-color-light);
}

.book-author-small {
  font-size: 0.9rem;
  color: var(--header-text-color-light);
}

/* ================= Book List Styling ================= */
.book-list {
  display: flex;
  flex-direction: column;
  width: 100%; /* Ensures book list aligns with the search bar */
}

.search-bar-container {
  display: flex;
  justify-content: center; /* Center the SearchBar horizontally */
  width: 100%;  /* Ensure full width so that centering works */
  margin-top: 20px;
}


.top-section {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
}

.dashboard-container {
  flex: 0 0 30%;
}

.right-section {
  display: flex;
  flex-direction: column;
  align-items: center; /* This will center the content horizontally */
  justify-content: flex-start;
  width: 100%;
  max-width: 800px;
  margin-left: 20px;
}

.main-container {
  display: flex;
  justify-content: flex-start; /* Align items to the start */
  width: 100%;
}

.no-currently-reading {
  color: #f7f7f7;
}

.explore-book-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin-left: 20px; /* Moves right section 20px away from dashboard */
  align-items: center; /* Centers content inside right-section */
}

/* ================= Book Item Styling ================= */


.library-sort-bar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px; /* Optional: adds a bit of spacing between the bottom and the sort bar */
  padding: 2.5px;
}

.library-filter-bar {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px; /* Optional: adds a bit of spacing between the bottom and the sort bar */
  padding: 2.5px;
}

/* ================= SortBar Styling ================= */
.filter-and-sort-bar {
  display: flex;
  justify-content: center; /* Center the items horizontally */
  align-items: center;
  gap: 5px; /* Space between the text and the select */
  padding: 1px;
  border-radius: 5px;
}

.filter-and-sort-bar p {
  margin: 0;
  font-size: 0.87rem;
  color: #191919;
}

.filter-and-sort-bar select {
  padding: 2px; /* Padding for better click area */
  font-size: 0.87rem;
  color: #191919;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.filter-and-sort-bar select:hover,
.filter-and-sort-bar select:focus {
  background-color: #Fff; /* Hover and focus color */
  color: #000;
  outline: none;
}

.filter-and-sort-bar select option {
  background-color: #fff;
  color: #333;
}

.filter-and-sort-container {
  display: flex;
  justify-content: space-between; /* Aligns search bar to the left and sort bar to the right */
  width: 100%; /* Makes container span the full width of the parent */
  align-items: flex-start; /* Aligns children to the top of the container by default */
  margin-top: 20px;
  margin-bottom: 2px; /* Adds space between the search/sort bar and the book list */
  position: relative;
}

/* RatingBar.css */
.book-card-rating-bar {
  display: flex;
  justify-content: flex-start; /* Align stars to the center */
  align-items: center;     /* Vertically align stars */
  margin-top: 10px;        /* Add margin above the rating bar */
  gap: 0px;                /* Slightly smaller gap between stars */
}

.rating-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 0; /* Remove gaps entirely between stars */
}

.rating-star {
  width: 25px !important;
  height: 25px !important;
  cursor: pointer;
  margin: 0; /* No margin for the stars */
  padding: 0; /* No padding to avoid gaps */
}

.rating-star:hover {
  transform: scale(1.1); /* Slight zoom effect on hover */
}

.rating-bar img {
  flex: 1; /* Distribute stars evenly across the container */
  max-width: 25px; /* Maintain consistent size */
  transition: transform 0.2s ease; /* Smooth transition */
}

.progress-bar-container {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: flex-start; /* Align items to the left */
  margin-top: 10px;
}

.progress-bar {
  width: 60%;
  height: 25px;
  background-color: #DBC0A4;
  border-radius: 5px;
}

.progress-bar-fill {
  height: 100%;
  background-color: #F8DCBF; /* Fill color */
  border-radius: 5px;
  box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.1);
}

.progress-buttons {
  display: flex;
  flex-direction: row; /* Keep input and button inline */
  align-items: center; /* Align the items vertically centered */
  margin-top: 10px;
}

.update-button {
  padding: 5px 10px;
  border: 1px solid #FA9939;
  font-size: 14px;
}

.update-button:hover {
  border: 1px solid #FA9939;
}

.progress-input {
  display: flex;
  align-items: center;
  justify-content: center; /* Center input horizontally */
}

.progress-input input {
  width: 50px;
  padding: 5px;
  text-align: center;
  margin-right: 10px; /* Space between input and button */
}

/* ReviewBar */

.book-card-rating-bar {
  margin-right: 20px;
}

.review-bar-container {
  margin: 10px 20px 20px 0; /* Top, Right, Bottom, Left */
  width: calc(100% - 20px); /* Make the container narrower to account for the right margin */
  box-sizing: border-box; /* Include padding and border in width calculation */
}

.review-bar-visible {
  border-radius: 8px;
  padding: 16px;
  margin: 10px 0 20px 0; /* Remove excess right margin here to avoid overlap */
  background-color: #D56F00;
  width: 100%; /* Keep it fully responsive within the parent container */
  box-sizing: border-box; /* Includes padding in width calculation */
  overflow: hidden; /* Prevents content overflow */
}

/* Review Text */
/* Review Text */
.review-bar-visible p {
  color: #fff9f3;
  margin: 0; 
  padding-top: 0;
  word-wrap: break-word;
}

.review-bar-visible p {
  margin-bottom: 20px; 
}

/* Review Textarea */
.review-textarea {
  height: 80px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  resize: none;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 100%; /* Ensures textarea fits within the container */
  box-sizing: border-box; /* Includes padding in width calculation */
}

/* Buttons Container */
.review-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

/* Ensure the buttons align properly within the container */
.review-button {
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #FA9939;
}

.review-button:hover{
  border: 1px solid #FA9939;
}

.review-button:disabled {
  background-color: #DBC0A4;
  border: 1px solid #DBC0A4;
  cursor: not-allowed;
}

.review-button.back-button {
  background-color: #D56F00;
  border: 1px solid #FA9939;
}

.review-button.back-button:hover{
  background-color: #FA9939;
  border: 1px solid #FA9939;
}

.review-button.delete-button {
  background-color: #D05353;
  border: none;
}

.review-button.delete-button:hover {
  background-color: #BD3C3C;
}

/* Book Location Component Styling */
.book-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Overlay Styling */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8dcbf;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(4px); /* Adds a subtle blur effect */
  border-radius: 8px;
}

/* Modal Container */
.modal {
  display: flex; /* Flex layout for tabs and content side by side */
  flex-direction: row; /* Tabs on the left, content on the right */
  width: 100%;
  height: 100%;
  background-color: #f8dcbf;
  border-radius: 8px;
  overflow: hidden; /* Ensure no overflow */
  color: #fff9f3;
}

/* Folder Tabs Container */
.folder-tabs {
  display: flex;
  flex-direction: column; /* Align tabs vertically */
  width: 12%;
  border-right: 1px solid #fff; /* Separator between tabs and content */
  overflow-y: auto; /* Enable scrolling if tabs overflow vertically */
  align-items: flex-end;
  padding-top: 10px;
}

/* Individual Folder Tab */
.folder-tab {
  border-radius: 8px 0 0 8px;
  padding: 12px;
  width: 50%;
  background-color: #FA9939;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: right;
  border-bottom: 1px solid #F8DCBF; /* Divider between tabs */
}

.folder-tab.active {
  background-color: #D56F00; /* Active tab color */
}

/* Tab Hover Effect */
.folder-tab:hover {
  background-color: #D56F00; /* Slightly darker on hover */
}

.folder-tab.remove {
  background-color: #D05353; /* Active tab color */
}

.folder-tab.active.remove {
  background-color: #BD3C3C; /* Slightly darker on hover */
}

/* Tab Hover Effect */
.folder-tab.remove:hover {
  background-color: #BD3C3C; /* Slightly darker on hover */
}

/* Content Section */
.content-section {
  flex: 1; /* Take the remaining width */
  padding: 10px 10px 10px 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto; /* Allow scrolling if content overflows */
}

/* Status Badge */
.status-badge {
  margin-bottom: 10px;
  padding: 5px;
  font-size: 0.9rem;
  color: #d56f00;
  font-weight: bold;
  text-align: left;
}

.action-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%; /* Form container width */
  margin-left: 20px;
}

/* Top Row */
.action-form-top-row {
  display: flex;
  flex-direction: column; /* Stack label and input vertically */
  width: 80%; /* 90% of form width */
  margin-bottom: 10px; /* Space below */
}

.action-form-top-row span {
  font-size: 0.9rem; /* Label font size */
  color: #191919; /* Label color */
  margin-bottom: 5px; /* Space below the label */
}

.action-form-top-row input {
  padding: 8px; /* Add padding to the input */
  font-size: 0.9rem; /* Input font size */
  border: 1px solid #ccc; /* Input border */
  border-radius: 4px; /* Rounded corners */
  width: 100%; /* Full width */
}

/* Bottom Row */
.action-form-bottom-row {
  display: flex;
  width: 80%; /* Combined width of both left and right rows */
  justify-content: space-between; /* Align left and right rows */
}

/* Left Column */
.action-form-bottom-row-left,
.action-form-bottom-row-right {
  display: flex;
  flex-direction: column; /* Stack label and input vertically */
  width: 46%; /* Half the width of the top row with some space in between */
}

.action-form-bottom-row-left span,
.action-form-bottom-row-right span {
  font-size: 0.9rem; /* Label font size */
  color: #191919; /* Label color */
  margin-bottom: 5px; /* Space below the label */
}

.action-form-bottom-row-left input,
.action-form-bottom-row-right input {
  padding: 8px; /* Add padding to the input */
  font-size: 0.9rem; /* Input font size */
  border: 1px solid #ccc; /* Input border */
  border-radius: 4px; /* Rounded corners */
  width: 100%; /* Full width */
  font-family: 'Open Sans', sans-serif;
}


/* Confirmation Message */
.confirmation-message {
  position: absolute;
  top: 10px; /* Adjust as needed to move the message vertically */
  right: 10px; /* Adjust as needed to move the message horizontally */
  color: #D56F00;
  font-weight: bold;
  font-size: 0.9rem;
}

/* Action Buttons */
.action-buttons {
  display: flex;
  margin-top: 5px;
  
}

.submit-btn {
  padding: 7px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
  margin-right: 5px;
}

.cancel-btn {
  padding: 7px 12px;
  background-color: #D05353;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.cancel-btn:hover {
  background-color: #BD3C3C;
}

/* Update Action Form Styling */
.action-form-update {
  display: flex; /* Arrange input and button in a row */
  align-items: flex-end; /* Vertically center the elements */
  gap: 10px; /* Add space between elements */
  margin-top: 20px; /* Add spacing above */
  height: 40px;
  padding-top: 20px;
}

.action-form-update-field {
  display: flex;
  flex-direction: column;
}

.action-form-update-field span {
  font-size: 0.9rem; /* Label font size */
  color: #191919; /* Label color */
  margin-bottom: 5px; /* Space below the label */
}

.action-form-update-field input {
  padding: 8px; /* Add padding to the input */
  font-size: 0.9rem; /* Input font size */
  border: 1px solid #ccc; /* Input border */
  border-radius: 4px; /* Rounded corners */
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

/* Button Styling */
.update-btn {
  padding: 8px 12px;
  border-radius: 4px; /* Rounded corners */
  cursor: pointer;
  font-size: 0.9rem;
  height: 100%;
}

.remove-tab-content{
  justify-items: center;
}

.remove-btn {
  padding: 7px 12px;
  background-color: #D05353;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
  margin-right: 5px;
}

.remove-btn:hover {
  background-color: #BD3C3C;
}

.remove-cancel-btn{
  padding: 7px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Increased to ensure it overlays all content */
}

/* Modal Content */
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  z-index: 10000; /* Ensure it's higher than overlay, for safety */
}

/* Close Button */
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  z-index: 10001; /* Always clickable */
}


/* Buttons */
.randomize-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.randomize-btn:hover{
  background-color: #45a049;
}

/* Error Message */
.error-message {
  color: red;
  font-weight: bold;
}


